<form method="POST">

    <label for="stock_name">Enter Stock Symbol</label>
    <input type="text" name="stock_name" id="stock_name" required>
    <label for="duration_dropdown">Select Duration</label>
    <select name="duration_dropdown" id="duration_dropdown">
        <option value="1M" {% if preferences[1] == '1M' %} selected {% endif %}> 1M</option>
        <option value="3M" {% if preferences[1] == '3M' %} selected {% endif %}> 3M</option>
        <option value="6M" {% if preferences[1] == '6M' %} selected {% endif %}> 6M</option>
        <option value="1Y" {% if preferences[1] == '1Y' %} selected {% endif %}> 1Y</option>
    </select>

    <label for="candle_size_dropdown">Select Candle Size</label>
    <select name="candle_size_dropdown" id="candle_size_dropdown">
        <option value="5min" {% if preferences[0] == '5min' %} selected {% endif %}> 5min</option>
        <option value="15min" {% if preferences[0] == '15min' %} selected {% endif %}> 15min</option>
        <option value="1D" {% if preferences[0] == '1D' %} selected {% endif %}> 1D</option>
        <option value="1M" {% if preferences[0] == '1M' %} selected {% endif %}> 1M</option>
    </select>

    <button type="submit">Submit</button>
</form>